body {
    background-color: rgba(228, 222, 222, 0.685);
}
.navbar {
    background-color: white;

}

.my-table {
    align-self: center;
    widows: 100%;
    text-align: center;
    vertical-align: bottom;
    padding: 15px;
    overflow-x: auto;

    

}